<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <title>URL SHORTENER</title>
  </head>
  <body>
    <div class="container">
      <h1>
        **URL SHORTENER**
      </h1>
      <form action="/shorturls" method="POST">
        <label class="sr-only" for="fullURL">URL</label>
        <input
          placeholder="Enter your URL here"
          type="url"
          name="fullURL"
          id="fullURL"
          class="form-control col mr-2"
        />
        <button class="btn btn-danger" type="submit">SHRINK</button>
      </form>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th>Full url</th>
            <th>Short URL</th>
            <th>Cicks</th>
          </tr>
        </thead>
        <tbody>
          <% shortUrls.forEach(shortUrl =>{%>
          <tr>
            <td>
              <a href="<%=shortUrl.full%>"><%=shortUrl.full%></a>
            </td>
            <td><a href="<%=shortUrl.short%>"><%=shortUrl.short%></a></td>
            <td><%=shortUrl.clicks%></td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
  </body>
</html>
